---
layout: blog
title: Projects
permalink: /projects
---

<section class="ml-3 mr-3 mt-4 mb-4">
  <div class="container is-fullhd">
    <ul class="tile is-ancestor">
      {% assign does_have = 'nop' %}
      {% for post in site.posts %}
        {% if post.category == 'project-post' %}
          {% assign does_have = 'has' %}
        {% endif %}
      {% endfor %}

      {% if does_have == 'nop' %}
        <li class="tile is-parent has-large-top-gap">
          <h1 class="tile is-child is-size-1 has-text-centered">
            Nothing to see, move on...<br>
          </h1>
        </li>
      {% else %}
        {% for post in site.posts %}
          {% if post.category == 'project-post' %}
            <li class="tile is-parent has-small-top-gap">
              <a class="tile is-child notification is-primary" href="{{ post.url }}">
                <div clas="content">
                  <p class="title">{{ post.title }}</p>
                  <p class="content">{{ post.description }}</p>
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</section>

