<div class="modal" id="modal-caio" data-wow-duration=".5s">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Caio Fábio</p>
      <button class="delete"></button>
    </header>

    <section class="modal-card-body">
      Musician by nature, that's all.
    </section>

    <footer class="modal-card-foot">
      <div style="flex-grow: 1;">
      </div>
      <a href="mailto:caiofabio@newaypix.com.br" class="button">
        <i class="fa fa-envelope" style="margin-right: 5px;"></i>
        Email
      </a>
      <a href="https://github.com/" class="button">
        <i class="fa fa-github" style="margin-right: 5px;"></i>
        Github
      </a>
      <a href="" class="button" disabled>
        <i class="fa fa-link" style="margin-right: 5px;"></i>
        Personal website
      </a>
    </footer>
  </div>
</div>

<div class="modal" id="modal-rafael" data-wow-duration=".5s">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Rafael Nunes</p>
      <button class="delete"></button>
    </header>

    <section class="modal-card-body">
      Student of Computer Science at UTFPR. Amazed by RTS games since childhood. You may mail me whenever you feel the will. Programming systems and forging a Game Engine inside NewayPix Entertainment.
    </section>

    <footer class="modal-card-foot">
      <div style="flex-grow: 1;">
      </div>
      <a href="mailto:rafaelnunes@newaypix.com.br" class="button">
        <i class="fa fa-envelope" style="margin-right: 5px;"></i>
        Email
      </a>
      <a href="https://github.com/rafaelcn" class="button">
        <i class="fa fa-github" style="margin-right: 5px;"></i>
        Github
      </a>
      <a href="http://rafaelcn.github.io" class="button">
        <i class="fa fa-link" style="margin-right: 5px;"></i>
        Personal website
      </a>
    </footer>
  </div>
</div>

<div class="modal" id="modal-yago" data-wow-duration=".5s">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Yago Werner</p>
      <button class="delete"></button>
    </header>

    <section class="modal-card-body">
      Game designer here. I love MOBA and CCG games. eSports is my thing.
    </section>

    <footer class="modal-card-foot">
      <div style="flex-grow: 1;">
      </div>
      <a href="mailto:yagowerner@newaypix.com.br" class="button">
        <i class="fa fa-envelope" style="margin-right: 5px;"></i>
        Email
      </a>
      <a href="https://github.com/grydius" class="button">
        <i class="fa fa-github" style="margin-right: 5px;"></i>
        Github
      </a>
      <a href="" class="button" disabled>
        <i class="fa fa-link" style="margin-right: 5px;"></i>
        Personal website
      </a>
    </footer>
  </div>
</div>

<div class="modal" id="modal-manoel" data-wow-duration=".5s">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Manoel Vilela</p>
      <button class="delete"></button>
    </header>

    <section class="modal-card-body">
      Software Engineer. Currently a undergradute student at Computer Engineering / Federal University of Ceará. Sometimes musician. I Love Lisp, mathematics, classical music and plataformer games. There are other things that I like, but that list is not that long
    </section>

    <footer class="modal-card-foot">
      <div style="flex-grow: 1;">
      </div>
      <a href="mailto:manoelvilela@newaypix.com.br" class="button black">
        <i class="fa fa-envelope" style="margin-right: 5px;"></i>
        Email
      </a>
      <a href="https://github.com/rykiunix" class="button">
        <i class="fa fa-github" style="margin-right: 5px;"></i>
        Github
      </a>
      <a href="http://lerax.me" class="button">
        <i class="fa fa-link" style="margin-right: 5px;"></i>
        Personal website
      </a>
    </footer>
  </div>
</div>