<nav class="navbar is-size-5 is-transparent" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" style="cursor:default">
			<img src={{ "assets/img/logos/newaypix-black.png" | relative_url }} alt="logo">
		</a>
		<div class="navbar-burger burger" data-target="nav-menu">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<div id="nav-menu" class="navbar-menu">
		<div class="navbar-end">
			<a href="#" class="navbar-item" disabled>
				projects
			</a>
            <a href="#" class="navbar-item" disabled>
                blog
            </a>
		</div>
	</div>
</nav>