/**
 *
 */

// Raimbows

.raimbow-ciano
    background-image: linear-gradient(124deg, #11BB66, #2EE5A8, #5FF5DD)
    background-position: 0% 80%

.raimbow-blue
    background-image: linear-gradient(124deg, #111166, #5533FF, #2144FF)
    background-position: 0% 80%

.raimbow-green
    background-image: linear-gradient(124deg, #118811, #11BB66, #5DEB55)
    background-position: 0% 50%

.raimbow-red
    background-image: linear-gradient(124deg, #AF0011, #AA0122, #FB111F)
    background-position: 0% 80%

// Tiles

.tile > .is-description
    text-align: center
    color: white
    cursor: default

.tile.raimbow-ciano,
.tile.raimbow-green,
.tile.raimbow-red,
.tile.raimbow-blue
    -webkit-transition: .2s
    -moz-transition: .2s

.tile.raimbow-ciano:hover
    background-position: 70% 90%
    box-shadow: 0 0 10px rgba(32, 177, 97, 1)

.tile.raimbow-green:hover
    background-position: 40% 90%
    box-shadow: 0 0 10px rgba(81, 240, 81, 1)

.tile.raimbow-red:hover
    background-position: 40% 90%
    box-shadow: 0 0 10px rgba(161, 1, 33, 1)

.tile.raimbow-blue:hover
    background-position: 10% 90%
    box-shadow: 0 0 10px rgba(81, 49, 255, 1)

// Text modifiers

.has-text-shadow
    text-shadow: 1px 1px 5px rgb(90, 90, 90)